.image-movie {
  width: 300px;
  height: 400px;
  float: left;
  margin-bottom: 20px;
  margin-right: 20px;
  box-shadow: 0px 0px 5px 0px rgba(188, 131, 226, 0.712);
}
​ .individual-card-movie {
  background-color: #08021a;
  padding: 20px;
}
.text-card-movie {
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  color: white;
  display: flex;

  flex-direction: column;
  background-color: #08021a;
}
.title-movie {
  font-size: 45px;
  padding: 20px;
}
.genre-movie {
  font-size: 15px;
  padding: 20px;
}
​ ​ .individual-actor {
  box-shadow: 0px 8px 16px 0px black;
  border: 2px solid black;
}

.description-movie {
  font-size: 20px;
  padding: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.list-genre::after {
  content: "|";
  padding: 10px;
}
.list-genres {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 20px;
}
.plot-unknown {
  padding: 20px;
  font-size: 30px;
}
.no-genres {
  padding: 20px;
  font-size: 20px;
}
