.header {
  background-color: #051422;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  margin-bottom: 40px;
}
.header-logo {
  text-indent: 20%;
  padding: 10px;
}
.lists-item {
  color: white;

  display: inline;
  padding: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
}
.logo {
  width: 100px;
}
.header-menu {
  position: relative;
}
.lists-item::after {
  content: "|";
}
.lists-item:last-child::after {
  content: "";
}
.link-item {
  color: white;
}
