body {
  background-color: rgb(35, 43, 65);
  background-image: url("/hexagons.svg");
  min-width: 1600px;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-content {
  flex: 1 1 auto;
  width: 1400px;
  margin: 0 auto;
}

.app a {
  text-decoration: none;
  font-size: 25px;
  margin: auto;
}

.app a:hover {
  text-decoration: underline;
}
