.actors-movie {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.actor-role {
  font-size: 15px;
}
.actor-name {
  font-size: 20px;
}
.actor-image {
  width: 150px;
}
.introduction-actors {
  font-size: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.actors-category {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 100px;
  color: white;
  background-color: #08021a;
}
.no-image-actors {
  width: 150px;
  height: 225px;
}
.no-cast-info {
  font-size: 20px;
}
